.well{
  margin-left: 1%;
  background-color:  #D3D3D3;

}

.jumbotron{
  margin-top: 5px;
  text-decoration-color: white;
  text-align: center;
}

h1{
  color: white;
}

img{
  width: 200px;
  height: 150px;
}

form{
  margin-top: 10px;
}

.choose{
  text-align: center;
}

.tamagochi{
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  border-style: solid;
  border-color: #D3D3D3;
}

#secondpage {
  display: none;
}

#thirdpage {
  display: none;
}

#forthpage {
  display: none;
}
